#settings {
	padding: 0 20px;
	display: flex;
}

#select {
	width: 25%;
}

.select {
	display: flex;
}

#form {
	width: 75%;
}

#locale {
	width: 100%;
	display: flex;
	margin-bottom: 10px;
}

#locale span.lang {
	cursor: pointer;
	flex: auto;
	text-align: center;
	border: 1px solid darkgray;
}

#locale span.lang + span.lang {
	border-left: none;
}

#locale span.lang.selected {
	color: white;
	background: darkgray;
}

#select, #form {
	display: inline;
	text-align: left;
}

#form form, #locale {
	padding-left: 20px;
}

#form select,
#form textarea,
#form input {
	display: block;
}

#select select,
#form textarea,
#form input[type='text'] {
	width: 100%;
}

#form input[type="submit"] {
	width: auto;
	margin: 30px auto 0 auto;
}

#select label:not(:first-of-type),
#form label:not(:first-of-type) {
	margin-top: 20px;
}

#form label[for^="status_"] {
	margin-top: revert;
}

#select button[aria-label] {
	position: relative;
}

#select button[aria-label]:hover::after {
	content: attr(aria-label);
	position: absolute;
	top: -2.4em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	white-space: nowrap;
	padding: 5px 14px;
	background: black;
	color: white;
	border-radius: 4px;
	font-size: 1.2rem;
}

#form .trumbowyg-box {
	min-height: 0;
	background: white;
}

#form .preview img {
	display :block;
	margin: 10px auto 0 auto;
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}

#form .preview img[src=""] {
	display: none;
}

#form .homepageImage img,
#form .coverImage img {
	max-width: 250px;
}

#form .bannerImage img {
	max-width: 395px;
}

#form label + .trumbowyg-box .trumbowyg-editor-box {
	margin: 0 auto;
}

#form label[for="pageFooter"] + .trumbowyg-box .trumbowyg-editor-box {
	width: 360px;
}

#form label[for="additionalHomeContent"] + .trumbowyg-box .trumbowyg-editor-box {
	width: 730px;
}

#form label[for="description"] + .trumbowyg-box .trumbowyg-editor-box {
	width: 500px;
}

#form label[for="rootDescription"] + .trumbowyg-box .trumbowyg-editor-box {
	width: 560px;
}

#form #mailingAddress {
	width: 730px;
}
