#settings {
	padding: 0 20px;
	display: flex;
}

#select {
	width: 25%;
}

#form {
	width: 75%;
}

#select, #form {
	display: inline;
	text-align: left;
}

#form form {
	padding-left: 20px;
}

#select select,
#select #next,
#form textarea,
#form input {
	display: block;
	width: 100%;
}

#select #next {
	margin-top: 10px;
}

#select label:not(:first-of-type),
#form label:not(:first-of-type) {
	margin-top: 20px;
}

#form .trumbowyg-box {
	min-height: 0;
	background: white;
}

#form .preview img {
	display :block;
	margin: 10px auto 0 auto;
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}

#form .preview img[src=""] {
	display: none;
}

#form .homepageImage img,
#form .coverImage img {
	max-width: 250px;
}

#form .bannerImage img {
	max-width: 395px;
}

#form label + .trumbowyg-box .trumbowyg-editor-box {
	margin: 0 auto;
}

#form label[for="pageFooter"] + .trumbowyg-box .trumbowyg-editor-box {
	width: 360px;
}

#form label[for="additionalHomeContent"] + .trumbowyg-box .trumbowyg-editor-box {
	width: 730px;
}

#form label[for="description"] + .trumbowyg-box .trumbowyg-editor-box {
	width: 500px;
}

#form label[for="rootDescription"] + .trumbowyg-box .trumbowyg-editor-box {
	width: 560px;
}

#form #mailingAddress {
	width: 730px;
}
