.media-left img {
	max-width: 223px
}

.media {
	background-color: #eef6de
}

.current_issue_title {
	line-height: 1.2em;
	color: #606060;
	font-family: 'SabonLTStd-Roman', serif;
	font-size: 1.2em !important;
	font-weight: 500 !important
}

.journal-description p:first-child {
	color: #606060;
	font-family: 'SabonLTStd-Roman', serif;
	font-size: 19px;
	font-weight: 400
}

.journal-description {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px
}

.issue-details {
	padding: 0;
	margin: 0
}

.description {
	padding-top: 20px;
	padding-left: 5px
}

.section {
	margin-top: 20px !important
}

.page-header {
	font-family: 'SabonLTStd-Roman', serif;
	font-size: 1.2em !important
}

.navbar-header h1.site-name, .navbar-header .navbar-brand {
	font-family: "Bodoni 16" !important;
	font-style: italic
}

.header_view {
	background-color: #D0DAF3;
	border-color: #D0DAF3 !important;
	color: #003c70
}

.header_view a {
	color: #003c70 !important
}

.page-header {
	font-weight: 500
}

.galley-link {
	border-left: 1px solid #eef6de
}

.pkp_block {
	border: none
}

.pkp_block>.content {
	padding-left: 0
}

.pkp_block>.content>ul>li {
	padding: 0;
	margin: 0;
	border: none
}

div.pkp_block.block_information>div.content>ul {
	padding-left: 0 !important;
	margin-left: 0 !important
}
.journal-description p:first-child, .page-header, .media-heading {
	color: #282828 !important;
	font-family: 'Bodoni 24', serif !important;
	letter-spacing: 0.4px
}

.media {
	background-color: #f4f1e7 !important
}

footer[role="contentinfo"] {
	background-color: #d0daf3 !important
}

h1, h2, h3, h4, h5, h6, small, .current_issue_title {
	font-family: 'Bodoni 24', serif;
	margin: 0;
	color: #606060 !important
}

.sections {
	margin: 0 !important
}

#overNavbar {
	margin-bottom: 0
}

#navbarSearchFrom {
	margin-top: 10px
}

#drozLogoWrapper {
	padding-bottom: 10px !important;
	margin-bottom: 10px !important
}

#drozLogoImg {
	float: left
}

#drozLogoLetter {
	float: left;
	margin: 50px 0 0 5px
}

@media ( max-width : 768px) {
	#drozLogoLetter {
		float: left;
		margin: 0 0 0 5px
	}
}
