.media-left img {
	max-width: 223px
}

.media {
	background-color: #eef6de
}

.current_issue_title {
	line-height: 1.2em;
	color: #606060;
	font-family: Helvetica Neue;
	font-size: 1.2em !important;
	font-weight: 500 !important
}

.journal-description p:first-child {
	color: #606060;
	font-family: Helvetica Neue;
	font-size: 19px;
	font-weight: 400
}

.journal-description {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px
}

.issue-details {
	padding: 0;
	margin: 0
}

.description {
	padding-top: 20px;
	padding-left: 5px
}

.section {
	margin-top: 20px !important
}

.page-header {
	font-family: Helvetica Neue;
	font-size: 1.2em !important
}

body {
	font-family: Helvetica Neue !important;
	color: #606060 !important
}

h1, h1, h2, h3, h4, h5, h6, small, .current_issue_title, .page-header,
	.media-heading, .navbar-brand {
	font-family: Helvetica Neue !important;
	color: #606060 !important
}

a {
	color: #878e9b
}

h1.page-header {
	font-weight: 400
}

#navbarContainer {
	background-color: #9b9487 !important
}

header.header_view {
	color: #fdf7ec !important
}

.navbar-brand a {
	color: #474747
}

#nav-menu a {
	color: #fdf7ec
}

#nav-menu .navbar-nav>li>a:hover {
	background-color: #fdf7ec;
	border-color: #9b9487;
	color: #9b9487;
	border-top: 1px solid
}

.navbar-nav>li>.dropdown-menu {
	background-color: #9b9487 !important
}

.navbar-nav>li>.dropdown-menu a {
	color: #fdf7ec !important
}

.navbar-nav>li>.dropdown-menu a:hover {
	color: #474747 !important
}

.pkp_block, div.pkp_block>div.content>ul>li {
	background-color: #dbdcd6 !important
}

.pkp_block .title {
	background-color: #9b9487 !important;
	color: #fdf7ec !important
}

#languageSelect>.btn-info {
	background-color: #9b9487 !important;
	color: #fdf7ec !important;
	border-color: #9b9487 !important
}

.pkp_block.block_droz a {
	font-weight: 800;
	font-size: 1em
}

.pkp_page_index.pkp_op_index .block_shpf.cfs {
	display: none
}

.media {
	background-color: #fdf7ec !important
}

.media .media-body {
	background-color: #fdf7ec !important
}

.media-body {
	background-color: #fdf7ec !important
}

.btn, .btn-default, .pkp_block.block_make_submission a, .pkp_block.block_make_submission a,
	.pkp_block.block_make_submission a {
	background-color: #878e9b !important;
	color: #fdf7ec !important;
	border-color: #878e9b !important
}

.btn:hover, .btn-default:hover, .pkp_block.block_make_submission a:hover
	{
	background-color: #474747 !important;
	color: #fdf7ec !important;
	border-color: #474747 !important
}

.btn.galley-link-buy-droz {
	border-color: #32455D !important;
	background: #32455D !important
}

.btn.galley-link-buy-droz:hover {
	background-color: #474747 !important;
	color: #fdf7ec !important;
	border-color: #474747 !important
}

footer[role="contentinfo"] {
	background-color: #9b9487 !important;
	color: #fdf7ec
}

footer[role="contentinfo"] a {
	color: #474747 !important
}

footer[role="contentinfo"] a:hover {
	color: #fdf7ec !important
}