.media-left img {
	max-width: 223px
}

.media {
	background-color: #eef6de
}

.current_issue_title {
	line-height: 1.2em;
	color: #606060;
	font-family: Helvetica Neue;
	font-size: 1.2em !important;
	font-weight: 500 !important
}

.journal-description p:first-child {
	color: #606060;
	font-family: Helvetica Neue;
	font-size: 19px;
	font-weight: 400
}

.journal-description {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px
}

.issue-details {
	padding: 0;
	margin: 0
}

.description {
	padding-top: 20px;
	padding-left: 5px
}

.section {
	margin-top: 20px !important
}

.page-header {
	font-family: Helvetica Neue;
	font-size: 1.2em !important
}

body {
	font-family: Helvetica Neue !important;
	color: #606060 !important
}

h1, h1, h2, h3, h4, h5, h6, small, .current_issue_title, .page-header,
	.media-heading, .navbar-brand {
	font-family: Helvetica Neue !important;
	color: #606060 !important
}

a {
	color: #ea491d
}

h1.page-header {
	font-weight: 400
}

.header_view {
	color: #fcf2d7 !important
}

#navbarContainer {
	background-color: #ea491d !important
}

.navbar-brand a {
	color: #3d3d3d
}

#nav-menu a {
	color: #fcf2d7
}

#nav-menu .navbar-nav>li>a:hover {
	background-color: #fcf2d7;
	border-color: #ea491d;
	color: #ea491d;
	border-top: 1px solid
}

.navbar-nav>li>.dropdown-menu {
	background-color: #ea491d !important
}

.navbar-nav>li>.dropdown-menu a {
	color: #fcf2d7 !important
}

.navbar-nav>li>.dropdown-menu a:hover {
	color: #3d3d3d !important
}

.pkp_block, div.pkp_block>div.content>ul>li {
	background-color: #dbdcd6 !important
}

.pkp_block .title {
	background-color: #3d3d3d !important;
	color: #fcf2d7 !important
}

#languageSelect>.btn-info {
	background-color: #3d3d3d !important;
	color: #fcf2d7 !important;
	border-color: #3d3d3d !important
}

.pkp_block.block_droz a {
	font-weight: 800;
	font-size: 1em
}

.btn.galley-link-buy-droz {
	border-color: #32455D !important;
	background: #32455D !important
}

.btn.galley-link-buy-droz:hover {
	background-color: #3d3d3d !important;
	color: #fcf2d7 !important;
	border-color: #3d3d3d !important
}

.media {
	background-color: #fcf2d7 !important
}

.media .media-body {
	background-color: #fcf2d7 !important
}

.media-body {
	background-color: #fcf2d7 !important
}

.btn, .btn-default, .pkp_block.block_make_submission a, .pkp_block.block_make_submission a,
	.pkp_block.block_make_submission a {
	background-color: #ea491d !important;
	color: #fcf2d7 !important;
	border-color: #ea491d !important
}

.btn:hover, .btn-default:hover, .pkp_block.block_make_submission a:hover
	{
	background-color: #3d3d3d !important;
	color: #fcf2d7 !important;
	border-color: #3d3d3d !important
}

footer[role="contentinfo"] {
	background-color: #ea491d !important;
	color: #fcf2d7
}

footer[role="contentinfo"] a {
	color: #3d3d3d !important
}

footer[role="contentinfo"] a:hover {
	color: #fcf2d7 !important
}

.galley-link {
	border-left: 1px solid #eef6de
}

.pkp_block {
	border: none
}

.pkp_block>.content {
	padding-left: 0
}

.pkp_block>.content>ul>li {
	padding: 0;
	margin: 0;
	border: none
}

div.pkp_block.block_information>div.content>ul {
	padding-left: 0 !important;
	margin-left: 0 !important
}

.sections {
	margin: 0 !important
}

#overNavbar {
	margin-bottom: 0
}

#navbarSearchFrom {
	margin-top: 10px
}

#drozLogoWrapper {
	padding-bottom: 10px !important;
	margin-bottom: 10px !important
}

#drozLogoImg {
	float: left
}

#drozLogoLetter {
	float: left;
	margin: 50px 0 0 5px
}

@media ( max-width : 768px) {
	#drozLogoLetter {
		float: left;
		margin: 0 0 0 5px
	}
}

.journal-description img {
	max-width: 100%;
	height: auto
}
