<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
    
    <head>
        <title>Revue/Collection</title>
        <meta name="DCTERMS.volume" content="xx"/>
        <meta name="DCTERMS.year" content="xxxx"/>
        <meta name="DCTERMS.EAN/ISBN" content="000000000000"/>
        <meta name="DCTERMS.DOI" content="10.47421/rev_VOL.N_xxx-xxx"/>
        <meta name="DCTERMS.title.num" content="Titre_Numéro"/>
        <meta name="DCTERMS.title" content="Titre_Article"/>
        <meta name="DCTERMS.sous-title" content="Sous-titre_Article"/>
        <meta name="DCTERMS.creator" content="Prénom Nom"/>
        <meta name="DCTERMS.affiliation" content="Affiliation"/>
        <meta name="DCTERMS.language" content="fr"/>
        <meta name="DCTERMS.description" lang="fr" content="Résumé"/>
        <meta name="DCTERMS.description" lang="en" content="Abstract"/>
        <meta name="DCTERMS.keywords" lang="fr" content="mots-clés"/>
        <meta name="DCTERMS.keywords" lang="en" content="keywords"/>
        <meta name="DCTERMS.page" content="Page_Start_xxx"/>
        <meta name="DCTERMS.page" content="Page_end_xxx"/>
    </head>
    
    <body class="version_REVUE_Zord_2023">
        
        <!-- <span class="page">xxx</span> --> <!-- on indique dans le cours du HTML les folios correspondants dans le PDF avec des balises commentaires-->
        
        <div class="section_block">
        
            <p class="section">Titre rubrique</p>
            <p class="section-ID">Abréviation rubrique</p>
    
            <p class="section-parent">Titre rubrique</p>    <!-- en cas de sous-rubriques: on indique ici la rubrique de rattachement du niveau supérieur-->
            <p class="section-parent-ID">Abréviation rubrique</p>
        
        </div>
    
        <div class="title_block">
        
            <p class="chap-title">Titre_Article</p>
            <p class="chap-subtitle">Sous-titre_Article</p>
        
        </div>
    
        <div class="author_block">
            
            <div class="author">
            
                <p class="au">Prénom NOM</p>
                <p class="au1">Affiliation</p>
                <p class="au1_mail">Mail</p>
            
            </div>
            
            <div class="author">
            
                <p class="au">Prénom NOM</p>
                <p class="au1">Affiliation</p>
                <p class="au1a">Mail</p>
            
            </div>
        
        </div>
        
        <div class="note_block">
        
            <p class="au2">Note de l'auteur ou de la rédaction</p>
        
        </div>
        
        <div class="abstract_block">
        
            <p class="abstract-FR">résumé</p>
            <p class="abstract-EN">abstract</p>
        
        </div>
        
        <div class="keywords_block">
        
            <p class="keywords-FR">Mot-clé</p>
            <p class="keywords-EN">keyword/p>
        
        </div>
        
        <div class="text_block">
        
            <p class="h1">Titre1</p>
            <p class="indent">Texte</p>
            <p class="h2">Titre2</p>
            <p class="indent">Texte</p>
            <p class="h3">Titre3</p>
            <p class="indent">Texte</p>
            <p class="h4">Titre4</p>
            <p class="indent">Texte</p>
            <p class="h1">Titre1</p>
            <p class="indent">Texte</p>
            <p class="h2">Titre2</p>
            <p class="indent">Texte</p>
            <p class="h3">Titre3</p>
            <p class="indent">Texte</p>
            <p class="h4">Titre4</p>
            <p class="indent">Texte</p>
            <p class="h1">Conclusion</p>
            <p class="indent">Texte</p>
        
        </div>
        
        <p class="h1">Bibliographie</p>
        
        <div class="bibl_block">
        
            <p class="bibl">Texte</p>
        
        </div>
        
        <p class="h1">Annexe</p>
    
        <div class="annex_block">
        
            <p class="annex">Texte</p>
        
        </div>
        
        <p class="noindent">____________</p>
        
        <div class="footnotes_block">
        
            <p class="fn"><span class="num"><a id="fn1" href="#fn_1"><sup>1</sup></a></span> Texte</p>
            <p class="fn"><span class="num"><a id="fn2" href="#fn_2"><sup>2</sup></a></span>Texte</p>
       
        </div>
        
    </body>
</html>