.media-left img {
	max-width: 223px
}

.media {
	background-color: #f5f3e0
}

.current_issue_title {
	line-height: 1.2em;
	color: #606060;
	font-family: 'SabonLTStd-Roman', serif;
	font-size: 1.2em !important;
	font-weight: 500 !important
}

.journal-description p:first-child {
	color: #606060;
	font-family: 'SabonLTStd-Roman', serif;
	font-size: 19px;
	font-weight: 400
}

.journal-description {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px
}

.issue-details {
	padding: 0;
	margin: 0
}

.description {
	padding-top: 20px;
	padding-left: 5px
}

.section {
	margin-top: 20px !important
}

.page-header {
	font-family: 'SabonLTStd-Roman', serif;
	font-size: 1.2em !important
}

.galley-link {
	border-left: 1px solid #f5f3e0
}

.pkp_block {
	border: none
}

.pkp_block>.content {
	padding-left: 0
}

.pkp_block>.content>ul>li {
	padding: 0;
	margin: 0;
	border: none
}

div.pkp_block.block_information>div.content>ul {
	padding-left: 0 !important;
	margin-left: 0 !important
}

.sections {
	margin: 0 !important
}

#overNavbar {
	margin-bottom: 0
}

#navbarSearchFrom {
	margin-top: 10px
}

#drozLogoWrapper {
	padding-bottom: 10px !important;
	margin-bottom: 10px !important
}

#drozLogoImg {
	float: left
}

#drozLogoLetter {
	float: left;
	margin: 50px 0 0 5px
}

@media ( max-width : 768px) {
	#drozLogoLetter {
		float: left;
		margin: 0 0 0 5px
	}
}

h1, h2, h3, h4, h5, h6, small, .current_issue_title {
	font-family: 'Tinos', serif !important;
	margin: 0;
	color: #282828 !important
}

.navbar-brand a {
	color: #282828 !important
}

.pkp_block .title {
	color: #D62D37 !important
}

.btn.btn-default, .btn-primary {
	background-color: #df7869;
	border-color: #df7869
}

.journal-description p:first-child, .page-header, .media-heading {
	color: #282828 !important;
	font-family: 'Tinos', serif !important
}

.galley-link-buy-droz {
	border-color: #32455D !important;
	background: #32455D !important;
	color: #fafafa !important
}

.footer {
	background-color: #f2eecb !important
}

footer.footer {
	background-color: #e4d0ba !important
}

